{% extends 'layout.html' %}

{% block header %}
{% block title %}{% endblock %}
{% endblock %}

{% block content %}
<script src="../static/script.js" defer></script>
<div class="index_body">
            <div class="intro">
                <h1>Hier sehen Sie eine Auswahl der Werke der Hundebilder der jungen Künstlerin Mona
                </h1>
            </div>
               
                
                    <div class="grid_container">
                        {% for product in products %}
                        <a href="/product/{{ product.id }}"><img id="{{ product.id }}" name="{{ product.name }}"
                                src="static/imgs/{{ product.src }}" alt="{{ product.name }}"><br>{{ product.name }}</a>
                    
                        {% endfor %}
                    </div>

            </div>
        
    
{% endblock %}
