{% extends 'layout.html' %}
{% block header %}
<h1>{% block title %}{{ product.name }}{% endblock %} </h1>
{% endblock %}
{% block content %}
<h1 class="h_kontakt"> Bitte gib Deine Kontaktdaten an </h1>
<div class="input_field">
    <form action="confirmation" method="post">
        <input type="text" name="firstname" placeholder="Vorname" autofocus required>
        <input type="text" name="lastname" placeholder="Nachname" required>
        <input type="text" name="email" placeholder="email" required>
        <input type="text" name="street" placeholder="Strasse" required>
        <input type="number" step="1" min="1" name="hausnummer" placeholder="Hausnummer" required>
        <input type="number" name="plz" placeholder="Plz" required>
        <input type="text" name="city" placeholder="Stadt" required>
<button class="btn btn-primary" type="submit">Kaufen</button>
</form>
</div>

<div class="product_container">
    <img src="../static/imgs/{{ product.src }}" alt="Motiv">
    <p>Preis: {{ product.price }} €</p>
    <form action="delete" method="post"><button class="btn btn-primary" type="submit" name="{{ product.name }}"
            value="{{ product.id }}">Aus dem Warenkorb entfernen</button>
    </form>
    <form action="/" method="get"><button class="btn btn-primary" type="submit">Zur Übersicht</button></form>
   
</div>


{% endblock %}
